name: Deploy Frontend
on:
  push:
    branches: ["main"]

permissions:
  id-token: write
  contents: read
  actions: read

concurrency:
  group: deploy-frontend
  cancel-in-progress: true

jobs:
  deploy:
    runs-on: ubuntu-latest

    env:
      AWS_REGION: ap-northeast-2
      S3_BUCKET: ${{ vars.FRONTEND_BUCKET_NAME }}
      CLOUDFRONT_DISTRIBUTION_ID: ${{ vars.CLOUDFRONT_DISTRIBUTION_ID }}
      AWS_ROLE_ARN: ${{ vars.GITHUB_DEPLOY_ROLE_ARN }}
      NEXT_PUBLIC_API_GATEWAY_URL: https://api.shortify.cloud

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "22"
          cache: "pnpm"

      - name: Enable Corepack (pnpm)
        run: corepack enable

      - name: Install
        run: pnpm install --frozen-lockfile

      - name: Build
        run: pnpm build
        env:
          NEXT_PUBLIC_API_GATEWAY_URL: ${{ env.NEXT_PUBLIC_API_GATEWAY_URL }}

      - name: Configure AWS (OIDC)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ env.AWS_ROLE_ARN }}
          aws-region: ${{ env.AWS_REGION }}


      - name: Upload to S3
        run: aws s3 sync out "s3://${S3_BUCKET}" --delete
      

      - name: CloudFront Invalidation
        run: aws cloudfront create-invalidation --distribution-id "${CLOUDFRONT_DISTRIBUTION_ID}" --paths "/*"
